*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    color:white;
    font-size: 30px;
    margin:25px 15px 15px;
    
}
#description{
    color:white;
    font-size:18px;
    margin:0px 0px 25px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
input{
    margin:2px;
    padding:4px;
    border-radius:5px;
    border:none;
}
   

.form{
    background-color: #F55050;
    opacity:0.75;
    border-radius:10px;
    padding:25px;
    
}
.form label{
color:white;
padding:0px 0px 0px 3px;

}
.form-group {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    padding:5px 0px; 
}
.radio{
    padding:5px 0px 15px; 

}
.form-group2{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    padding:0px 0px 15px;
}
.feedback{
    padding:0px 0px 15px;
}
.suggestion{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}
#submit{
    border:none;
    background-color: cadetblue;
    color:white;
    
}
.button{
    display:flex;
    justify-content: center;
    width: 100%;
    border:none;
    margin:15px 0px;
    padding:5px 10px;
    background-color: cadetblue;
    border-radius: 5px;
}
